In [166]:
#import libraries

import  os
import numpy as np
import pandas as pd

In [167]:
#reading first csv file from folder

csv1 = os.path.join("Resources","StudentsPerformance - StudentsPerformance.csv")

In [168]:
#csv to dataframe
student_df = pd.read_csv(csv1)
student_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [169]:
#Q1: Which 'parent level of education' is highest for any 'race/ethnicity'? 
#Output should print 'parent level of education' and count (eg. group c 65)

In [170]:
# Grouping by 'parent level of education' and 'race/ethinicity' to compute the number of occurrences
# Value calculated into a new df and max is desplayed accordingly

count_df = student_df[['parental level of education','race/ethnicity', 'gender']].groupby(['parental level of education','race/ethnicity']).count()
count_df.rename(columns={'gender': 'count'}, inplace=True)
count_df.reset_index(inplace=True)
count_df.max()

parental level of education    some high school
race/ethnicity                          group E
count                                        78
dtype: object

In [171]:
#Q2: Which 'gender' has more occurrence where 'math score' greater than 'reading score' but less than 'writing score'? 
#Output should print 'parent level of education' and count 
#(eg. female occurrence_mathsscore occurrence_readingscore occurrence_writingscore)

In [172]:
# DF is filtered to compute the cells with the given condition
# Filtered DF is grouped by the gender to compute the count of each gender

math_score = student_df['math score']
reading_score = student_df['reading score']
writing_score = student_df['writing score']
filter_df = student_df[(math_score > reading_score) & (math_score < writing_score)]
filter_df.reset_index(drop=True, inplace=True)
filter_df.groupby(['gender']).count()

,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
gender,,,,,,,
female,15,15,15,15,15,15,15
male,13,13,13,13,13,13,13

In [173]:
#Q3: Display 'parental level of education' and total score for students who took standard lunch and complete the course? 
#(Output should all fields and relevant values)

In [174]:
# DF is filtered to compute the cells with the given condition
# Total score is computed in the Filtered DF by adding the math, reading and writing scores, and output is printed

score_df = student_df[(student_df['lunch']=="standard") & (student_df['test preparation course'] == "completed" )]
score_filter = score_df[['parental level of education','math score','reading score','writing score']]
score_filter.reset_index(drop=True, inplace=True)

score_filter['Total_Score'] = score_filter['math score'] + score_filter['reading score'] + score_filter['writing score']
score_filter[['parental level of education','Total_Score']]

<ipython-input-174-b57cac860a76>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_filter['Total_Score'] = score_filter['math score'] + score_filter['reading score'] + score_filter['writing score']

    parental level of education  Total_Score
0                  some college          247
1                  some college          275
2                  some college          220
3            associate's degree          241
4            associate's degree          182
..                          ...          ...
222                some college          256
223            some high school          232
224            some high school          225
225             master's degree          282
226                some college          223

[227 rows x 2 columns]

In [175]:
#Q4: Display median value for total score for female students who couldn't complete the course 
#(Output should all fields and relevant values)

In [176]:
# DF is filtered to compute the cells with the given condition
# Total score is computed in the Filtered DF by adding the math, reading and writing scores
# Median is computed by using pandas median function

female_df = student_df[(student_df['gender']=="female") & (student_df['test preparation course'] == "none" )]
female_df['Total_Score'] = female_df['math score'] + female_df['reading score'] + female_df['writing score']
female_df['Total_Score'].median()

<ipython-input-176-a6eb3d90063f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_df['Total_Score'] = female_df['math score'] + female_df['reading score'] + female_df['writing score']

202.5

In [177]:
#Q5: Consider different combinations among values of - 
#'gender', 'race/ethnicity', 'parental level of education','lunch','test' and 'preparation course'. 
#Print the combination where average math score is greater than average reading score but less than average writing score

In [178]:
student_df = pd.read_csv(csv1)
col_list = [i for i in list(student_df.columns) if i not in ["math score", "reading score", "writing score"]]
student_df['combined'] = student_df[col_list].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
comb_df = student_df[["combined", "math score", "reading score", "writing score"]]

avg_df_1 = pd.DataFrame()
avg_df_1['average math score'] = comb_df.groupby('combined')['math score'].mean()
avg_df_1.reset_index(inplace=True)

avg_df_2 = pd.DataFrame()
avg_df_2['average reading score'] = comb_df.groupby('combined')['reading score'].mean()
avg_df_2.reset_index(inplace=True)

avg_df_3 = pd.DataFrame()
avg_df_3['average writing score'] = comb_df.groupby('combined')['writing score'].mean()
avg_df_3.reset_index(inplace=True)

merged_df = avg_df_1.merge(avg_df_2, how='left', left_on=['combined'], right_on=['combined']).merge(avg_df_3, how='left', left_on=['combined'], right_on=['combined'])
out_df = merged_df[(merged_df['average math score'] > merged_df['average reading score']) & (merged_df['average math score'] < merged_df['average writing score'])]
list(out_df['combined'])

["female_group E_bachelor's degree_free/reduced_none",
 'male_group A_some college_free/reduced_completed',
 'male_group C_high school_free/reduced_completed',
 "male_group C_master's degree_free/reduced_completed"]

In [179]:
#reading second csv file from folder
import os
import pandas as pd
csv2 = os.path.join("Resources","TelcoCustomerChurn - TelcoCustomerChurn.csv")

In [180]:
tele_df = pd.read_csv(csv2)
tele_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [181]:
# Q6: Find the outlier value for monthly charges

In [182]:
# Outliers are computed by finding inter-quartile range of the given column

q1, q3 = tele_df['MonthlyCharges'].quantile(0.25), tele_df['MonthlyCharges'].quantile(0.75)
iqr = q3 - q1
low, high = q1 - (1.25 * iqr), q3 + (1.25 * iqr)
print('outliers are: Below {} and Above {}'.format(low, high))

outliers are: Below -32.4375 and Above 157.7875

In [183]:
#Q7: List table to display both churned and retained senior citizen male customers 
#who don't have any dependents and whose total charges are more than monthly charges

In [184]:
# All filters are applied sequentially to calculate the resultant data

tele_df[(tele_df['SeniorCitizen']==1) & (tele_df['gender']=='Male') & (tele_df['Dependents']=='No') & (tele_df['TotalCharges'] > tele_df['MonthlyCharges'])]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
31,4929-XIHVW,Male,1,Yes,No,2,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Credit card (automatic),95.50,181.65,No
55,1658-BYGOY,Male,1,No,No,18,Yes,Yes,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.45,1752.55,Yes
78,0191-ZHSKZ,Male,1,No,No,30,Yes,No,DSL,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,74.75,2111.30,No
129,2639-UGMAZ,Male,1,No,No,71,No,No phone service,DSL,Yes,...,No,No,Yes,Yes,One year,Yes,Electronic check,56.45,3985.35,No
144,1131-QQZEB,Male,1,Yes,No,71,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),23.95,1756.20,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6980,0786-VSSUD,Male,1,No,No,16,No,No phone service,DSL,No,...,No,No,Yes,No,Month-to-month,Yes,Mailed check,39.00,679.85,Yes
7007,2274-XUATA,Male,1,Yes,No,72,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),63.10,4685.55,No
7015,0666-UXTJO,Male,1,Yes,No,34,Yes,No,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),85.20,2874.45,No
7031,3605-JISKB,Male,1,Yes,No,55,Yes,Yes,DSL,Yes,...,No,No,No,No,One year,No,Credit card (automatic),60.00,3316.10,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes

In [185]:
#Q8: Ignore churn status and cluster customers in two groups, say cluster1 and cluster2. 
#Now, compare cluster1 with churned customers and cluster1 with retained customers and cluster2 with churned customers and cluster2 with retained customers. 
#How close was your clustering results with actual? and which one was more close? 
#NOTE: Use distance based clustering method only

In [186]:
#Q9: List customers with decreasing order of tenure and calculate running difference

In [187]:
sorted_df = tele_df.sort_values(['tenure'],ascending=False)
sorted_df.reset_index(drop=True, inplace=True)
sorted_df['tenure_lag'] = sorted_df['tenure'].shift(1)
sorted_df['running_difference'] = sorted_df['tenure_lag'] - sorted_df['tenure']
sorted_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_lag,running_difference
0,4737-AQCPU,Male,0,Yes,Yes,72,Yes,Yes,DSL,Yes,...,No,No,Two year,No,Credit card (automatic),72.10,5016.65,No,NaN,NaN
1,9680-NIAUV,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Two year,No,Credit card (automatic),109.70,8129.30,No,72.0,0.0
2,5914-XRFQB,Male,0,Yes,No,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Two year,Yes,Bank transfer (automatic),115.80,8424.90,No,72.0,0.0
3,5168-MQQCA,Female,0,Yes,No,72,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,Yes,Bank transfer (automatic),108.50,8003.80,No,72.0,0.0
4,0464-WJTKO,Female,0,Yes,Yes,72,Yes,No,No,No internet service,...,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.10,1460.85,No,72.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No,0.0,0.0
7039,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No,0.0,0.0
7040,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No,0.0,0.0
7041,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No,0.0,0.0
7042,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No,0.0,0.0

In [188]:
#Q10: Telco company wants to analyse pattern of customers who churned. 
#Can you help them know which combination of all the fields is most risky and must be avoided?

In [ ]:
# Take all columns other than customerID, MonthlyCharges, TotalCharges and churn --> l1
# Create 2 new columns monthly_charges_bucket and total_charges_bucket --> l2
# Take l1 + l2 for analysis
# Find all unique combinations... For each combination, compute (churned / Total) and calculate the ones with high 
# value of this ratio
tele_df = pd.read_csv(csv2)
# print(len(tele_df))
col_list = [i for i in list(tele_df.columns) if i not in ["customerID", "MonthlyCharges", "TotalCharge", "Churn"]]
tele_df['monthly_charges_bucket'] = pd.cut(tele_df['MonthlyCharges'], 10)
tele_df['total_charges_bucket'] = pd.cut(tele_df['TotalCharges'], 100)
col_list += ['monthly_charges_bucket', 'total_charges_bucket']
tele_df['combined'] = tele_df[col_list].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
df11=tele_df.groupby('combined')['Churn'].apply(lambda x: (x=='Yes').sum()).reset_index(name='churn_count')
df12=tele_df[['combined', 'Churn']].groupby('combined').agg('count')
df12.reset_index(inplace=True)
df12.rename(columns={'Churn': 'total_count'}, inplace=True)
df_merged = df11.merge(df12, how='left', left_on=['combined'], right_on=['combined'])
df_merged['churn_fraction'] = df_merged['churn_count'] / df_merged['total_count']

# set(df_merged['churn_fraction']) --> Output is: {0.0, 0.25, 0.3333333333333333, 0.5, 0.6666666666666666, 1.0}

list(df_merged[df_merged['churn_fraction']==1.0]['combined'])