In [64]:
#import libraries

import  os
import numpy as np
import pandas as pd

In [65]:
#reading first csv file from folder

csv1 = os.path.join("Resources","StudentsPerformance - StudentsPerformance.csv")

In [66]:
student_df = pd.read_csv(csv1)
student_df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [29]:
#Q1: Which 'parent level of education' is highest for any 'race/ethnicity'? 
#Output should print 'parent level of education' and count (eg. group c 65)

In [67]:
student_df.groupby(['parental level of education','race/ethnicity']).count()

                                            gender  lunch  \
parental level of education race/ethnicity
associate's degree          group A             14     14
                            group B             41     41
                            group C             78     78
                            group D             50     50
                            group E             39     39
bachelor's degree           group A             12     12
                            group B             20     20
                            group C             40     40
                            group D             28     28
                            group E             18     18
high school                 group A             18     18
                            group B             48     48
                            group C             64     64
                            group D             44     44
                            group E             22     22
master's degree             group A              3      3
                            group B              6      6
                            group C             19     19
                            group D             23     23
                            group E              8      8
some college                group A             18     18
                            group B             37     37
                            group C             69     69
                            group D             67     67
                            group E             35     35
some high school            group A             24     24
                            group B             38     38
                            group C             49     49
                            group D             50     50
                            group E             18     18

                                            test preparation course  \
parental level of education race/ethnicity
associate's degree          group A                              14
                            group B                              41
                            group C                              78
                            group D                              50
                            group E                              39
bachelor's degree           group A                              12
                            group B                              20
                            group C                              40
                            group D                              28
                            group E                              18
high school                 group A                              18
                            group B                              48
                            group C                              64
                            group D                              44
                            group E                              22
master's degree             group A                               3
                            group B                               6
                            group C                              19
                            group D                              23
                            group E                               8
some college                group A                              18
                            group B                              37
                            group C                              69
                            group D                              67
                            group E                              35
some high school            group A                              24
                            group B                              38
                            group C                              49
                            group D                              50
                            group E                              18

                                            math score  reading score  \
parental level of education race/ethnicity
associate's degree          group A                 14             14
                            group B                 41             41
                            group C                 78             78
                            group D                 50             50
                            group E                 39             39
bachelor's degree           group A                 12             12
                            group B                 20             20
                            group C                 40             40
                            group D                 28             28
                            group E                 18             18
high school                 group A                 18             18
                            group B                 48             48
                            group C                 64             64
                            group D                 44             44
                            group E                 22             22
master's degree             group A                  3              3
                            group B                  6              6
                            group C                 19             19
                            group D                 23             23
                            group E                  8              8
some college                group A                 18             18
                            group B                 37             37
                            group C                 69             69
                            group D                 67             67
                            group E                 35             35
some high school            group A                 24             24
                            group B                 38             38
                            group C                 49             49
                            group D                 50             50
                            group E                 18             18

                                            writing score
parental level of education race/ethnicity
associate's degree          group A                    14
                            group B                    41
                            group C                    78
                            group D                    50
                            group E                    39
bachelor's degree           group A                    12
                            group B                    20
                            group C                    40
                            group D                    28
                            group E                    18
high school                 group A                    18
                            group B                    48
                            group C                    64
                            group D                    44
                            group E                    22
master's degree             group A                     3
                            group B                     6
                            group C                    19
                            group D                    23
                            group E                     8
some college                group A                    18
                            group B                    37
                            group C                    69
                            group D                    67
                            group E                    35
some high school            group A                    24
                            group B                    38
                            group C                    49
                            group D                    50
                            group E                    18

In [ ]:
#Q2: Which 'gender' has more occurrence where 'math score' greater than 'reading score' but less than 'writing score'? 
#Output should print 'parent level of education' and count 
#(eg. female occurrence_mathsscore occurrence_readingscore occurrence_writingscore)

In [22]:
gender_occurence = student_df[['gender','parental level of education','math score','reading score','writing score']]

In [51]:
math_score = student_df['math score']
reading_score = student_df['reading score']
writing_score = student_df['writing score']
student_df['bool_q2'] = np.where((math_score > reading_score) & (math_score < writing_score), 1, 0)
student_df.groupby('gender')['bool_q2'].agg(sum)

gender
female    15
male      13
Name: bool_q2, dtype: int32

In [57]:
#Q3: Display 'parental level of education' and total score for students who took standard lunch and complete the course? 
#(Output should all fields and relevant values)

In [58]:
score_df = student_df.loc[(student_df['lunch']=="standard") & (student_df['test preparation course'] == "completed" )]

In [59]:
score_filter = score_df[['parental level of education','math score','reading score','writing score']]

In [61]:
score_filter['Total_Score'] = score_filter ['math score'] + score_filter['reading score'] + score_filter['writing score']

<ipython-input-61-af4719447ddf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_filter['Total_Score'] = score_filter ['math score'] + score_filter['reading score'] + score_filter['writing score']

In [63]:
score_filter[['parental level of education','Total_Score']]

    parental level of education  Total_Score
1                  some college          247
6                  some college          275
13                 some college          220
35           associate's degree          241
46           associate's degree          182
..                          ...          ...
983                some college          256
987            some high school          232
991            some high school          225
995             master's degree          282
998                some college          223

[227 rows x 2 columns]

In [ ]:
#Q4: Display median value for total score for female students who couldn't complete the course 
#(Output should all fields and relevant values)

In [70]:
female_df = student_df.loc[(student_df['gender']=="female") & (student_df['test preparation course'] == "none" )]

In [77]:
female_df['Total_Score'] = female_df['math score'] + female_df['reading score'] + female_df['writing score']

<ipython-input-77-5802cfa97707>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_df['Total_Score'] = female_df['math score'] + female_df['reading score'] + female_df['writing score']

In [79]:
female_df['Total_Score'].median()

202.5

In [ ]:
#Q5: Consider different combinations among values of - 
#'gender', 'race/ethnicity', 'parental level of education','lunch','test' and 'preparation course'. 
#Print the combination where average math score is greater than average reading score but less than average writing score

In [81]:
#student_df

In [82]:
#reading second csv file from folder

csv2 = os.path.join("Resources","TelcoCustomerChurn - TelcoCustomerChurn.csv")

In [83]:
tele_df = pd.read_csv(csv2)
tele_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [84]:
tele_df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7032.000000
mean        0.162147    32.371149       64.761692   2283.300441
std         0.368612    24.559481       30.090047   2266.771362
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.500000    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.850000   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

In [ ]:
#Q6: Find the outlier value for monthly charges

In [85]:
tele_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [ ]:
#Q7: List table to display both churned and retained senior citizen male customers 
#who don't have any dependents and whose total charges are more than monthly charges

In [92]:
tele_df.loc[(tele_df['gender'] == "Male") & (tele_df['SeniorCitizen'] == 1) & (tele_df['Churn'] == "Yes") & (tele_df['Dependents'] == "Yes") & (tele_df['TotalCharges'] > tele_df['MonthlyCharges'])]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
630,5099-BAILX,Male,1,Yes,Yes,43,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),110.75,4687.90,Yes
638,4913-EHYUI,Male,1,Yes,Yes,56,Yes,Yes,Fiber optic,Yes,...,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),104.55,5794.65,Yes
2282,1587-FKLZB,Male,1,Yes,Yes,66,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Credit card (automatic),99.50,6822.15,Yes
2483,7641-EUYET,Male,1,Yes,Yes,46,Yes,Yes,Fiber optic,Yes,...,Yes,No,Yes,No,Month-to-month,Yes,Electronic check,100.70,4541.20,Yes
2690,2397-BRLOM,Male,1,Yes,Yes,8,Yes,No,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),80.45,583.45,Yes
3600,8623-TMRBY,Male,1,Yes,Yes,51,Yes,Yes,Fiber optic,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,84.20,4146.05,Yes
3615,6900-PXRMS,Male,1,Yes,Yes,26,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,No,Electronic check,105.75,2710.25,Yes
3779,8631-NBHFZ,Male,1,Yes,Yes,66,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),79.40,5154.60,Yes
3875,2403-BCASL,Male,1,Yes,Yes,41,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,One year,Yes,Electronic check,111.95,4534.90,Yes
5702,5287-QWLKY,Male,1,Yes,Yes,71,Yes,Yes,Fiber optic,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Credit card (automatic),105.10,7548.10,Yes
6235,5180-UCIIQ,Male,1,Yes,Yes,22,No,No phone service,DSL,Yes,...,No,No,No,Yes,Month-to-month,No,Mailed check,40.05,880.20,Yes

In [ ]:
#Q8: Ignore churn status and cluster customers in two groups, say cluster1 and cluster2. 
#Now, compare cluster1 with churned customers and cluster1 with retained customers and cluster2 with churned customers and cluster2 with retained customers. 
#How close was your clustering results with actual? and which one was more close? 
#NOTE: Use distance based clustering method only

In [93]:
tele_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [ ]:
#Q9: List customers with decreasing order of tenure and calculate running difference

In [ ]:
#Q10: Telco company wants to analyse pattern of customers who churned. 
#Can you help them know which combination of all the fields is most risky and must be avoided?